.navbar{

    margin: 0%;
    padding: 0;


    .navegador-dimensiones{ 
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: center;
       justify-content: center;
       background-color:$colorFondoNavbar;
       font-weight: $grosorletraNavbar;

       
    .navbar-collapse{
        padding-left: 30%;

    }

       .nav-link{
        color:$colorLetraNavbar;
        font-size: 18px;
        font-weight: 400;
        &:hover{color:rgb(236, 223, 185)}
       }
  
    }

   
}


