$colorFondoNavbar:rgb(93, 15, 15);
$grosorletraNavbar:600;
$colorLetraNavbar:rgb(240, 183, 104);
$colorindexfondo: rgba(241, 212, 170, 0.83);
$tipoletra: 'Dosis', sans-serif;
$colorletracuerpo:rgba(149, 64, 35, 0.589);
$colorfondotarjetaproducto:rgba(190, 154, 103, 0.666);