*{
    margin: 0;
	padding: 0;
	border: none;
	
} 

@import"_variables";
@import"_navbar";
@import"_portada";
@import "_inicio";
@import"_footer";
@import"_productos";
@import"_mayorista";
@import"_contacto";
@import"_nosotros";


